<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>欠料单导出</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <style>
    @media print {
      .print-hide {
        display: none;
      }
      #app {
        width: 100%;
      }
    }
    th {
      text-align: center;
    }
    td {
      width: 100px;
    }
  </style>
  <script src="static/js/vue.min.js"></script>
  <script src="static/js/xlsx.full.min.js"></script>
  <script src="static/js/common.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="./领料单.html">领料单</a></li>
        <li class="active"><a href="#">欠料单<span class="sr-only"></span></a></li>
    </div>
  </nav>
  <div id="app" style="margin-top: 60px" class="container">
    <div class="row print-hide">
      <div class="col-xs-12">
        <strong>已导入文件： {{ Array.from(files.values()).join(' | ') }}</strong>
      </div>
    </div>
    <div class="row print-hide">
      <div class="col-xs-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="file">选择欠料单 </label>
            <input type="file" class="form-control" id="file" :accept="SheetJSFT" @change="handleChange" />
          </div>
        </form>
      </div>
      <button class="btn btn-danger" @click="clear">清空文件</button>
      <button class="btn btn-success" @click="exportData">导出</button>
      <button class="btn btn-success" @click="window.print">打印</button>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th colspan="6">爱科通电子（深圳）有限公司</th>
              </tr>
              <tr>
                <th colspan="6">欠  料  单</th>
              </tr>
              <tr>
                <th>序号</th>
                <th>订单号</th>
                <th>产品代码</th>
                <th>规格型号</th>
                <th>订单数量</th>
                <th>日期</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row in orderProducts" :key="row">
                <td v-for="col in row" :key="col">{{ col }}</td>
                <td></td>
              </tr>
            </tbody>
          </table>          

          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>序号</th>
                <th>物料代码</th>
                <th>物料名称</th>
                <th>规格型号</th>
                <th>欠料数</th>
                <th>到料日期</th>
                <th>替代物料</th>
                <th>替代方式</th>
                <th>弃装</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row in orderMaterals" :key="row">
                <td v-for="col in row" :key="col"> {{ col }}</td>
                <td v-for="n in 4"></td>
              </tr>
              <tr>
                <td colspan="9">   说明：替代方式有以下三种方式：  A:只针对本订单替代;   B:针对此机型替代;  C:所有机型替代.</td>
              </tr>
              <tr>
                <td colspan="4">制表：</td>
                <td colspan="5">审核：</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    const _SheetJSFT = [
      'xlsx', 'xlsb', 'xlsm', 'xls', 'xml', 'csv', 'txt', 'ods', 'fods', 'uos', 'sylk', 'dif', 'dbf', 'prn', 'qpw', '123', 'wb*', 'wq*', 'html', 'htm'
    ].map(x => `.${x}`).join(',')

    new Vue({
      el: '#app',
      data () {
        return {
          files: new Set(),
          SheetJSFT: _SheetJSFT,
          materials: new Map(),
          products: new Map(),
          orderProducts: [],
          orderMaterals: []
        }
      },
      methods: {
        print () {
          window.print()
        },
        handleChange (e) {
          const files = e.target.files
          if (files && files[0]) {
            this._loadFile(files[0])
          }
        },
        clear () {
          this.files.clear()
          this.materials.clear()
          this.products.clear()
          this.orderProducts = []
          this.orderMaterals = []
          document.getElementById('file').value = ''
        },
        _loadFile (file) {
          const reader = new FileReader()
          reader.onload = (e) => {
            if (this.files.has(file.name)) {
              return void alert(`${file.name}已经导入`)
            }
            /* Parse data */
            const bstr = e.target.result
            const wb = XLSX.read(bstr, { type: 'binary' })
            /* Get first worksheet */
            const wsname = wb.SheetNames[0]
            const ws = wb.Sheets[wsname]
            // /* Convert array of arrays */
            let newData = XLSX.utils.sheet_to_json(ws, { header: 1 })
            newData = newData.slice(1, newData.length - 1)
            if (!newData.every(item => item.length === 21)) {
              return void alert('请选择正确格式的欠料单')
            }
            this.files.add(file.name)
            newData.filter(item => item[11] === '普通订单').forEach(item => {
              const key = `${item[15]}__${item[2]}`
              const product = this.products.get(key)

              if (product) {
                product.orderQty += parseFloat(item[8])
                this.products.set(key, product)
              } else {
                this.products.set(key, {
                  order: item[15],
                  code: item[2],
                  name: item[3],
                  spec: item[4],
                  orderQty: parseFloat(item[8])
                })
              }
            })
            newData.filter(item => !item[11]).forEach(item => {
              const key = item[2]
              const material = this.materials.get(key)
              if (material) {
                material.orderQty += parseFloat(item[8])
                this.materials.set(key, material)
              } else {
                this.materials.set(key, {
                  code: item[2],
                  name: item[3],
                  spec: item[4],
                  orderQty: parseFloat(item[8])
                })
              }
            })
            this.data = [
              ...Array.from(this.products.values()).map(item => {
                item.type = '成品'
                return item
              }),
              ...Array.from(this.materials.values()).map(item => {
                item.type = '原材料'
                return item
              })
            ]
            this.orderProducts = Array.from(this.products.values())
              .map((item, index) => [index + 1, item.order, item.code, item.spec, item.orderQty])
            this.orderMaterals = Array.from(this.materials.values())
              .map((item, index) => [index + 1, item.code, item.name, item.spec, item.orderQty])
          }
          reader.readAsBinaryString(file)
        },
        exportData () {
          const data = [
            ['爱科通电子（深圳）有限公司'],
            ['欠  料  单'],
            ['序号', '订单号', '产品代码', '规格型号', '订单数量', '日期'],
            ...this.orderProducts,
            [],  
            ['序号', '物料代码', '物料名称', '规格型号', '欠料数', '到料日期', '替代物料', '替代方式', '弃装'],
            ...this.orderMaterals,
            ['   说明：替代方式有以下三种方式：  A:只针对本订单替代;   B:针对此机型替代;  C:所有机型替代.'],
            ['   制表：                           审核：                 ']
          ]
          exportXlsx(data, '欠料单')
        }
      }
    })
  </script>
</body>
</html>